.footer {
    background-color: var(--efbd68);
    padding: 75px 0 100px;
    color: #333;
}

.footer__content {
    display: flex;
    justify-content: space-between;

    padding-bottom: 35px;
    border-bottom: 1px solid #333;
}

.footer__nav-wrapper {
    display: flex;
    gap: 20px;
}

.footer__nav, .footer__nav a {
    width: 370px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 156%;
    color: var(--333333);
}

.footer__nav li:not(:last-child) {
    margin-bottom: 15px;
}

.footer__nav--contacts {
    width: 300px;
}

.footer__nav-title {
    margin-bottom: 20px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-transform: capitalize;
    color: var(--333333);
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.footer__copyright-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 156%;
    color: var(--333333);
    }

.footer__copyright-list {
    display: flex;
    gap: 70px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 156%;
    text-align: right;
    color: var(--333333);
}